<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav1.html" . }}

    {{ if .Site.Params.about.enable }}
      {{ partial "about.html" . }}
    {{ end }}

    {{ if .Site.Params.contact.enable }}
      {{ partial "contact.html" . }}
    {{ end }}

    {{ partial "footer.html" . }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>