<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav1.html" . }}
    <!-- {{ partial "hero.html" . }} -->

    {{ if .Site.Params.services.enable }}
      {{ partial "services.html" . }}
    {{ end }}

      {{ partial "solutions.html" . }}


        {{ if .Site.Params.contact.enable }}
      {{ partial "contact-solutions.html" . }}
    {{ end }}

    {{ partial "footer.html" . }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
