{{ "<!-- Hero -->" | safeHTML }}
<section  id="home">
<header class="herohead padding-top">
  <div class="container">
    <div class="col-sm-7 intro-text">
      <div class="intro-heading hide-title">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      <!-- <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div> -->
      <a href="https://vimeo.com/190678843" class="popup-vimeo text-primary"><i class="material-icons md-256">play_circle_outline</i></a>
    </div>
  </div>
</header>
</section>
