<section class="padding-bottom" id="contact">
    <div class="container" >
        <div class="col-md-4 map-text">
            <h2 class="text-muted heavy-font" style="margin-top: 0px;">Get in touch</h3>
            <hr>
            <h4 class="text-muted heavy-font"><b>Our address</b></h4>
            <p>Am Europlatz 2 / G<br>1120 Vienna<br>Austria</p>
            <h4 class="text-muted"><b>E-mail</b></h4>
            <p>info@totalsoft.at</p>
            <h4 class="text-muted"><b>Telephone</b></h4>
            <p>+43 (1) 361 361 3610</p>
        </div>
        <div class="col-md-8">
            <div id="map"></div>
        </div>
    </div>
</section>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPV2mbAhEYznb7tlaq_iGPkuDWUvwuw9g&callback=initMap">
</script>