<section>
    <div class="bg-mid-gray" style="height: 180px;"><h1 class="section-heading text-center text-primary text-white padding-top padding-bottom">Testimonials</h1></div>
</section>
<section class="add-padding">
    <div class="container">
        <div class="masonry padding-bottom">
            {{ range .Site.Data.testimonials }}
                <div class="col-xs-12 col-sm-6 col-md-4 item">
                    <div class="box-masonry">
                        {{ $url := printf "img/logos/%s" .preview }}

                        <a class="box-masonry-image with-hover-overlay with-hover-icon" href={{.link }} ><img src="{{ $url | absURL }}" class="img-responsive" alt="">
                        </a>
                        <div class="box-masonry-text">
                            <h4 style="font-weight: 400 !important;">{{ .title | markdownify }}</h4>
                            <p class="text-muted">{{ .description | markdownify }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
     </div>
<script>
var container = document.querySelector('.masonry');
var msnry = new Masonry( container, {
  // columnWidth: 50,
  itemSelector: '.item'
});
</script>
</section>





