<section>
    <div class="bg-mid-gray" style="height: 180px;"><h1 class="section-heading text-center text-primary text-white padding-top padding-bottom heavy-font">Testimonials</h1></div>
</section>

<section class="padding-top" id="gecapital">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>
    <div class="row text-muted">
      <div class="col-sm-4"><img src="/img/logos/GECapital.svg"></div>
      <div class="col-sm-8">
        <h2 class="text-primary heavy-font">GE Capital</h2>
        <h4 class="section-subheading">TotalSoft implemented Charisma at GE Capital within 8 months. GE automated use the technology to automate contract flow and clearing.</h4>
        <p>Industry-focused ERPs equal bespoke solutions in function and flexibility. GE Capital can attest to it. Following the leasing boom in 2005, the company entered the Romanian market. It partnered with TotalSoft, using our industry-focused ERP to automate operations.
"Charisma met the needs of our company. That is a considerable feat, as we weren't your usual leasing business. Leasing companies tend to have a small number of high value contracts. At GE Capital, we managed a large number of low value contracts. We also had credit contracts", explains Radu Burghelea, CIO at GE Capital.
For GE Capital, TotalSoft combined the leasing and the credit functions of Charisma. Such customizations are possible because Charisma uses a modular software architecture. Each software unit is lean, easy to deploy and to manage.
Within 8 months, TotalSoft implemented Charisma at GE Capital. The system handled contract flow and clearing automatically.
"Charisma is the best product in the market. It has the best ratio in performance to total cost of operations. The gap between Charisma and the challenging solution is quite big", concludes Burghelea.
In 2010, Garanti Group took control over GE Capital operations in Romania. Garanti Group continued to use Charisma.</p>
      </div>
    </div>
    <hr>
  </div>
</section>
