<section>
    <div class="bg-mid-gray" style="height: 180px;"><h1 class="section-heading text-center text-primary text-white padding-top padding-bottom heavy-font">Testimonials</h1></div>
</section>

<section class="padding-top" id="gecapital">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>
    <div class="row text-muted">
      <div class="col-sm-4"><img src="/img/logos/RaiffeisenLeasing.svg"></div>
      <div class="col-sm-8">
        <h2 class="text-primary heavy-font">Raiffeisen Leasing</h2>
        <h4 class="section-subheading">Raiffeisen Leasing uses Charisma Leasing in 3 countries. The system grew in parallel to the Raiffeisen business in Eastern Europe, handling greater data volumes each new quarter.</h4>
        <p>Raiffeisen Leasing wished to automate its lease management. Back in 2003, the company launched a bid for IT solutions. Charisma was up against tough competitors. But it did win the bid.
The subsidiaries in Albania and Bulgaria were the first to try Charisma. With it, the subsidiaries automated routine tasks in accounting, risk and lease management. Operations became more efficient. And, as a consequence, Raiffeisen Leasing strengthened its position in Central Eastern Europe.
Raiffeisen Leasing subsidiary in Romania was the next to try Charisma. The third implementation was going to be complex. Charisma needed to handle greater data volume and more users. And the system did, passing the test with flying colors.
"Charisma is spectacular. It evolve to support our business", says Robert Pintilie, vice-president at Raiffeisen Leasing in Romania.
The subsidiaries in Poland and Ukraine are next in line to try Charisma.</p>
      </div>
    </div>
    <hr>
  </div>
</section>
