<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}
    {{ partial "js.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "navigate.html" . }}
    {{ partial "who_we_are.html" . }}
    {{ partial "what_we_do.html" . }}
    {{ partial "map.html" . }}
    {{ partial "contact.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "modals.html" . }}
  </body>
</html>
